{% extends './posts/template_posts.html' %}

{% block title %}Mentiras sobre tu devocional{% endblock %}

{% block articulo %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/assets/img/devocional.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>4 mentiras sobre tu devocional</h1>
                    <!-- <h2 class="subheading">Problems look mighty small from 150 miles up</h2> -->
                    <span class="meta">
                        Por
                        <a href="#!">Andrea Osorio</a>
                        - Enero 2022
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Si asistes regularmente a una iglesia, seguro has escuchado la palabra “devocional” y quizás alguna vez te han preguntado “¿Qué aprendiste hoy en tu devocional?” experimentando la incómoda sensación de no saber cómo responder. Cuando decidí iniciar mi vida devocional el conflicto entre tener y querer hacerlo era constante mí, conocía pasos y métodos, sin embargo, eran insuficientes ya que no entendía por qué hacerlo.</p>
                <p>Esta confusión me llevó a tomar una pausa, evaluar mi corazón y entender qué es y por qué es importante. Quiero compartirte las mentiras que detecté en mi vida devocional. Quizás, así como yo, necesites recordar que el devocional no es un mandato enseñado por hombres ni un simple punto en tu lista de tareas, es un privilegio, una necesidad y un medio para conocer a Cristo. </p>
                
                <h2 class="section-heading">1. Sólo se trata de leer la biblia</h2>
                <p>Fácilmente caemos en lecturas rápidas, rutinarias y superficiales, donde al terminar de leer no recordamos nada. Sin duda la lectura de la palabra es parte fundamental del devocional, una lectura intencional, consciente y guiada por el Espíritu Santo. Esta lectura nos conduce al propósito real, conocer a Cristo (Juan 5:39). Cuanto más lo conocemos, más crece nuestro asombro, más lo amamos y en consecuencia, más anhelamos obedecerle. </p>
                
                <h2 class="section-heading">2. Tengo que cumplir con hacerlo</h2>
                <!-- <blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote> -->
                <p>Quizás no sientas que lo estás haciendo por cumplir de forma legalista, pero nuestro corazón es engañoso, ¿qué pasa si un día no haces devocional? ¿Te sientes culpable por no haberlo hecho o te hace falta porque entiendes que necesitas del Señor cual siervo que brama por las aguas? (Salmo 41:1). Es necesario que evaluemos constantemente nuestras motivaciones.</p>

                <h2 class="section-heading">3. Necesito leer toda la biblia en este momento</h2>
                <p>La biblia fue escrita para leerse de principio a fin, debemos y necesitamos hacerlo, no obstante, la vida cristiana no es una carrera de velocidad, no tenemos que leer toda la biblia en un año o tener expectativas demasiado altas. No está mal tener metas, el problema es cuando corremos tanto por terminar y cumplir que no nos detenemos a contemplar a Cristo.</p>
                <!-- <a href="#!"><img class="img-fluid" src="static/assets/img/post-sample-image.jpg" alt="..." /></a> -->
                <!-- <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span> -->
                
                <h2 class="section-heading">4. Debo estar motivado</h2>
                <p>Siempre estaremos en una lucha entre emociones y convicciones, sin embargo, aun cuando no sentimos el deseo de buscar al Señor o de leer su palabra, tenemos la convicción de que es lo que nuestra alma necesita. </p>
                
                <blockquote class="blockquote">Si logras detectar alguna de estas mentiras en tu vida, te animo a que le pidas al Señor que traiga a tu corazón la certeza y el entendimiento de que el devocional es una necesidad, un deleite, un privilegio, un medio para conocerlo y una forma de cultivar la comunión que podemos tener con Él gracias al sacrificio de Cristo.</blockquote>

                <!-- <p>
                    Placeholder text by
                    <a href="http://spaceipsum.com/">Space Ipsum</a>
                    &middot; Images by
                    <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                </p> -->
            </div>
        </div>
    </div>
</article>

{% endblock %}



