{% extends './posts/template_posts.html' %}

{% block title %}El regalo de la adopción{% endblock %}

{% block articulo %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/assets/img/adopt.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>El regalo de la adopción</h1>
                    <span class="meta">
                        Por
                        <a href="#!">Andrea Osorio</a>
                        - Junio 2022
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Nacemos con un deseo profundo de sentido e identidad, podemos intentar encontrarlo en vasijas rotas: logros, personas o cosas materiales. Sin embargo, nada de esto soluciona el problema. Entender que fuimos adoptados milagrosamente en la cruz, cambia por completo la perspectiva acerca de nuestra identidad.</p>
                <p>Dios decidió adoptarnos y amarnos por el puro afecto de su voluntad (Efesios 1:5), nos recibió con todo lo que traíamos, costumbres, luchas y pecados, y nos ha dado todo lo que necesitamos para dejarlos atrás. No obstante, nuestro corazón, en muchas ocasiones, sigue siendo rebelde e inconscientemente desea volver a los días de orfandad. Así como el pueblo de Israel que recordaba sus días en Egipto como mejores que los del desierto, a pesar de su evidente esclavitud, hay momentos en los que deseamos nuestra orfandad como si hubiera sido libertad. Luchamos con el nuevo rol de hijos y con todo lo que eso implica, nos sigue costando obedecer y desarraigarnos de nuestra antigua manera de vivir.</p>
                
                <h2 class="section-heading">¿Cuál era nuestra condición?</h2>

                <p>Quizá te suene muy extraño o te cueste asimilar que eres o fuiste huérfano, porque puede que como yo, hayas tenido la bendición de tener una familia terrenal, pero esta orfandad va mucho más allá, es de espíritu y de corazón.</p>
                <p>Aunque todos fuimos creados por Él, nacemos huérfanos y solo llegamos a ser hijos mediante la obra de salvación de Cristo Jesús. Cuando creemos y lo aceptamos, recibimos en nuestra vida el regalo de la adopción (Juan 1:10-12).</p>
                <p>En aquellos días en que éramos huérfanos, ni siquiera estábamos en hogares de paso, estábamos solos, a nuestra propia suerte y haciendo lo que bien nos parecía, siguiendo nuestra propia voluntad y nuestros propósitos (Efesios 2). Apartados del Dios eterno, apartados del hogar. Algunos sin saber que buscaban un padre y otros anhelando su encuentro.</p>
                <p>Sin duda no es fácil reconocernos huérfanos, vernos en soledad y a la deriva, entender que necesitamos a alguien. Cuánta gracia y cuánto amor hay cuando lo hacemos, cuando creemos, entendemos y vemos que ahora tenemos un Padre, uno eterno e infinitamente misericordioso, que nos escoge y nos llama a Su hogar.</p>
                <p>Es natural que nos cueste confiar, depender y saber que Él sabe mejor que nosotros qué es bueno, porque estamos acostumbrados a una vida sin Padre, una donde no teníamos que “rendir cuentas”, obedecer o confiar en alguien más.</p>


                <h2 class="section-heading">¿Qué podemos hacer?</h2>

                <p>Puedes vivir una vida a tu manera, sin nadie que te guíe, reprenda, ame, cuide y te pida obediencia, aparentemente más sencilla, pero que al final será temporal y llena de insatisfacción, una vida de muerte espiritual, que rechaza el amor eterno de Dios y busca llenarse de lo perecedero. O puedes vivir en los brazos de Papá, unos brazos que en medio de cualquier tormenta te van a sostener, que te va a guiar y amar, y que cumpliendo con su rol, te va a disciplinar cuando sea necesario por el bien de tu corazón, que tendrá retos pero que garantiza una esperanza eterna.</p>

                
                <h2 class="section-heading">Una verdad para recordar…</h2>

                <p>Su deseo y decisión de adoptarnos en definitiva no fue un plan b, Su palabra nos dice algo infinitamente maravilloso, el Dios que creó el universo nos predestinó para adopción y nos escogió para santidad desde antes de la fundación del mundo. Aun antes de encontrarnos con Él, reconocerlo y amarlo, Él nos había amado primero. (1 Juan 4:19)</p>


                <blockquote class="blockquote">Sin duda, Dios quiere que vivamos seguros en nuestra identidad y rol, en nuestra posición de hijos. Seamos hijos que confían plenamente, que disfrutan y gozan de tener una relación íntima y cercana con su Papá y que obedecen por reverencia, gratitud y amor. Permitamos que nuestro lugar de hijos nos lleve a dolernos del lugar de los huérfanos espirituales y aprendamos a amar a los hermanos a los que estamos unidos por un vínculo de amor eterno, a los que como nosotros, fueron adoptados por Dios mediante la sangre de Cristo. Muramos a lo que fuimos para vivir en lo que somos.
                    </blockquote>

                <!-- <p>
                    Placeholder text by
                    <a href="http://spaceipsum.com/">Space Ipsum</a>
                    &middot; Images by
                    <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                </p> -->
            </div>
        </div>
    </div>
</article>

{% endblock %}



