{% extends './posts/template_posts.html' %}

{% block title %}Un intento por reparar mi alma{% endblock %}

{% block articulo %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/assets/img/partes.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Un intento por reparar mi alma</h1>
                    <h2 class="subheading">Reflexión</h2>
                    <span class="meta">
                        Por
                        <a href="#!">Juan Manuel Romo</a>
                        - Junio 2022
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Cuando comencé mi carrera no era el más apasionado por la electrónica o la ingeniería, sin embargo, poco a poco me di cuenta de que disfruto mucho reparar cosas, de que puedo intervenir para resolver algún problema en un computador, una conexión eléctrica, o solo ajustar un tornillo para lograr que todo funcione mejor.</p>
                <p>A pesar de las tuercas ajustadas, los puntos de soldadura y el agradecimiento de los demás por reparar sus máquinas, he llegado a tristes reflexiones sobre lo insuficiente que soy de enmendar lo que realmente importa, no puedo “reparar” tantas falencias que hallo dentro de mí. Quizás el arreglar cosas me da una falsa sensación de que puedo solucionarlo todo, pero en el fondo, sigo siendo incapaz de remediar aquello que hace daño al otro y a mí mismo.</p>

                <h2 class="section-heading">Esperanza para el débil</h2>

                <p>Sin embargo, aceptar esta insuficiencia y hallarme débil me ha llevado a entender que así como aquel que diseña un circuito sabe cómo repararlo cuando falla, solo el Diseñador del corazón humano puede componer cada una de sus falencias. Sólo Dios es el verdadero remedio para nuestra alma; no nosotros, ni alguien más, solo Dios.</p>
                <p>En Su palabra, encontramos que todos los seres humanos nacemos con una condición pecaminosa (Sal 51:5). He entendido que lo que se ve como una debilidad e insuficiencia interna, se trata en realidad de la maldad y pecado que llevo en mí, llevándome a comprender mi profunda necesidad de salvación y perdón. Así como yo, todos nosotros cargamos un problema mucho más grave que reparar un artefacto electrónico: si Dios nos viese con todo y nuestra maldad, no tendríamos más opción que su abandono y juicio eterno.</p>    
                <p>Culturalmente se espera que un creyente sea una persona moralmente impecable, sin defectos ni pecados, pero en realidad Dios nunca nos ha pedido llegar a Él como los creyentes más devotos, los profesionales más preparados, o como los hijos más obedientes. Él quiere que nos identifiquemos con nuestra debilidad, nuestra incapacidad de alcanzar su estándar de santidad, para que su gracia sea la que brille en nosotros, en lugar de nuestra aparente fortaleza. </p>
                <p>El Señor nos enseñó en su Palabra la bendición tan grande que es identificarnos como débiles e insuficientes:</p>

                <blockquote class="blockquote">Y Él me ha dicho: «Te basta Mi gracia, 
                    pues Mi poder se perfecciona en la debilidad». 
                    Por tanto, con muchísimo gusto me gloriaré más bien en mis debilidades,
                    para que el poder de Cristo more en mí [...] 
                    porque cuando soy débil, entonces soy fuerte.

                    2 Corintios 12:9-10 (NBLA)

                    </blockquote>

                <h2 class="section-heading">Un nuevo corazón</h2>
                <p>Si nuestra debilidad espiritual va de la mano con nuestro pecado ¿significa que nuestra maldad no tiene remedio? ¿que nunca podremos ser transformados? Al contrario, cuando Jesús murió en la cruz por los pecados de todo aquel que confía en Él, toda culpa, maldad y daño que habita en el corazón, fueron reparados.</p>
                <p>Es más, Él no solo repara nuestro corazón, ya que está muerto espiritualmente. Cuando nos arrepentimos de nuestros pecados y depositamos nuestra fe en Jesucristo, nos da un nuevo corazón. Solo por medio de su obra en la cruz nuestra alma es salvada de la justa condenación eterna que merecemos por nuestra maldad.</p>


                <blockquote class="blockquote">Además, les daré un corazón nuevo y pondré un espíritu 
                    nuevo dentro de ustedes; quitaré de su carne el corazón de piedra y les 
                    daré un corazón de carne. Pondré dentro de ustedes Mi espíritu y haré que anden 
                    en Mis estatutos, y que cumplan cuidadosamente Mis ordenanzas.

                    Ezequiel 36:26-27
                    </blockquote>

                <p>Solo cuando recibimos ese nuevo corazón y nacemos espiritualmente, podemos cumplir sus ordenanzas. Este nacimiento llega a todo aquel que renuncia a sus méritos y aparente fortaleza para ganarse el favor de Dios (Juan 3:3,16), a todo el que reconoce su pecado y acepta que sólo puede ser salvo por la gracia y misericordia de Cristo.</p>
                
                <h2 class="section-heading">Lo que necesitamos recordar</h2>
                <p>Demos gracias a Dios por Jesucristo, a quien en su infinita gracia envió a este mundo caído para morir en una cruz y convertirse en el que no solo repara el pasado, sino que hace todo nuevo (2 Cor 5:17), el que no solo da una segunda oportunidad, sino que cada día da misericordias renovadas (Lam 3:23).</p>
                
                
                <blockquote class="blockquote">Cuando nos sintamos incapaces de reparar las falencias de nuestro corazón y descubramos que solo podemos solucionar lo que hay en el exterior, fijemos nuestra mirada en Jesús, el que comenzó la obra en nosotros, y que sin duda la acabará. Anhelemos el día en que todo error y maldad se alejará de nuestro ser, y delante de su trono celestial, habitaremos con Él, en paz y sin pecado. </blockquote>

                <!-- <p>
                    Placeholder text by
                    <a href="http://spaceipsum.com/">Space Ipsum</a>
                    &middot; Images by
                    <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                </p> -->
            </div>
        </div>
    </div>
</article>

{% endblock %}



