{% extends './posts/template_posts.html' %}

{% block title %}Cisternas rotas{% endblock %}

{% block articulo %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/assets/img/cistern.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Cisternas rotas</h1>
                    <h2 class="subheading">Una reflexión sobre Jeremías 2:5-13 (NTV)</h2>
                    <span class="meta">
                        Por
                        <a href="#!">Juan Manuel Romo</a>
                        - Enero 2022
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Entre la conducta del pueblo de Israel y la nuestra generalmente hallamos muchas similitudes. Lastimosamente, muchas de ellas hacen evidente nuestra falta de confianza y amor por el Señor. En el capítulo 2 del libro Jeremías hallamos un llamado de atención que nos puede hacer reflexionar en dónde está puesta nuestra fe y adoración. </p>

                <blockquote class="blockquote">(v.5) Esto dice el SEÑOR:
                    «¿Qué mal encontraron en mí sus antepasados
                        que los llevó a alejarse tanto de mi lado?
                    Rindieron culto a ídolos inútiles
                        y ellos mismos se volvieron inútiles.
                    </blockquote>

                <p>Dios  acusa a Israel preguntando  “¿Qué mal encontraron en mí sus antepasados que se alejaron de mí?”, ¿acaso Dios habría decepcionado en algo a Israel? Habían optado por los “ídolos inútiles”, y se volvieron como ellos. Se olvidaron de  todo lo que Dios había hecho en sus vidas, no recordaron el maravilloso rescate de la esclavitud de Egipto, ni el sustento de Dios en medio del desierto, ni de las batallas que ganaron por Su poder (v.6). </p>

                <blockquote class="blockquote">(v.11, 13) ¿Alguna vez una nación ha cambiado sus dioses por otros,
                    aun cuando no son dioses en absoluto?
                ¡Sin embargo, mi pueblo ha cambiado a su glorioso Dios
                    por ídolos inútiles!
                Pues mi pueblo ha cometido dos maldades:
                me ha abandonado a mí
                    —la fuente de agua viva—
                y ha cavado para sí cisternas rotas
                    ¡que jamás pueden retener el agua! 
                
                    </blockquote>

                    <p>La triste realidad que nos muestra Jeremías es que ni  siquiera las naciones idólatras dejan a sus falsos dioses, por el contrario, son muy fieles a ellos. Pero Israel había cambiado a su glorioso, poderoso y santo Dios por  ídolos vanos e inútiles. Finalmente, Dios muestra las dos maldades cometidas por Israel: abandonar a su Dios y cavar para sí cisternas rotas. Los hijos de Jacob habían abandonado la eterna fuente de agua para cavar depósitos rotos de agua, que nunca se iban a llenar ni a saciar su sed. </p>
                
                <h2 class="section-heading">¿También es nuestra historia?</h2>
                <p>Esta historia puede sernos muy familiar. En el principio Dios creó al hombre y a la mujer, al cielo y la tierra, y dijo Él que todo era bueno (Gen 1:31). Hubo armonía e íntima comunión entre Dios y el hombre, pero el pecado nació y puso en enemistad al hombre con Dios (Gen 3). </p>
                <p>Aunque la biblia nos muestra la gracia, misericordia y amor de Dios, también nos muestra cómo el ser humano ha abandonado voluntariamente a su Creador, rechazado su gloria y su perfecto diseño. Hemos honrado más a la creación que al Creador (Rom 1:25), hemos profesado ser sabios, pero nos hemos vuelto necios (Rom 1:22), el pueblo de Israel no fue el único que cavó cisternas rotas, nuestras cisternas son todos los intentos de encontrar deleite en algo o alguien diferente a Dios.</p>
                <p>Por decirlo así,  hemos olvidado  el Edén y buscamos suplir el deleite de la gloria y del amor de Dios con ídolos y falsos dioses – lo que nos lleva a una insatisfacción constante – y como consecuencia de ello, nuestro pecado e idolatría nos condena y priva de compartir de su gloria (Rom 3:23). </p>


                <h2 class="section-heading">El agua que sacia la sed</h2>
                <!-- <blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote> -->
                <p>Nuestra historia sería lamentable si la dejáramos aquí, pero   el deseo de Dios es que compartamos nuevamente esa intimidad y armonía que hubo en el principio. Jesús se presentó como el agua que sacia nuestra sed por completo (Jn 4:9-14), en Él se encuentra la gracia y gloria de Dios,  en Jesús tenemos reconciliación y restauración. El perdón de Dios se derramó en cada gota de la sangre derramada por su Hijo en la cruz. </p>

                <p>Aunque hayamos cambiado la gloria de Dios por nuestros ídolos inútiles, Él muestra su amor por medio del sacrificio de Cristo (Rom 5:8), muestra una salvación y perdón de pecados por gracia (Ef 2:1-10), no por méritos ni por obras – porque lo único que sabemos hacer bien es levantar ídolos y cavar cisternas rotas – sino por medio del arrepentimiento y la fe en el nombre de Jesús. </p>

                <p>Dios no quiere que vivamos una vida sin gozo, deleites o placer. Al contrario, Él se presenta como el agua que sacia la sed, el único que podrá llenar de gozo y esperanza nuestra alma. Él es la fuente de todo bien y de todo deleite. Jesucristo basta, Él es todo lo que necesitamos, su gracia es suficiente (2 Cor 12:9), ella nos arrastra del templo de los ídolos de vuelta a la cruz. </p>
                
                <blockquote class="blockquote">Pidámosle al Señor que nos haga conscientes de que solo hallaremos plenitud en Él, dejemos de cavar cisternas rotas y de cambiar su gloria por ídolos inútiles. Busquemos disfrutar más y más del inmenso amor que Cristo derramó en la cruz por pecadores como nosotros.</blockquote>

                <!-- <p>
                    Placeholder text by
                    <a href="http://spaceipsum.com/">Space Ipsum</a>
                    &middot; Images by
                    <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                </p> -->
            </div>
        </div>
    </div>
</article>

{% endblock %}



